node_modules/
dist/
build/
.env

# Tree-sitter generated artifacts
*.wasm
src/grammar.json
src/parser.c

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# Build artifacts
*.tgz

tmp/
